<% views.each do |view|
  view = view.to_s
  this_view = current_view === view
  classes = "#{view}View_icon #{this_view ? 'disabled' : "enabled"}"
  url = "#{request.path}?view=#{view}"
  text = "#{this_view ? "Using" : "Switch to"} #{view.capitalize} view"

%>
  <li>
    <%= link_to text, url,  class: classes  %>
  </li>
<% end %>
