<div id="wrapper">
{{#photo}}
 	<div id="picture">
 		<span id="buttons">
 			<a id="like" class="icon icons-ARadd" href="#" title="Mark as a favourite"></a>
			{{#component_count}}
 			<a id="showDetails" class="icon icons-ShowDrawing" href="#" title="View Drawing"></a>
			{{/component_count}}
		</span>
  	<img class="photo" src="{{src}}" alt="{{name}}" />
  </div>
  
	<div id="InformationBar">
		<img src="assets/loading.gif" id="loading" />
		<p id="title">{{label}}</p>
	</div>
{{/photo}}
</div>
