<div id="photoDetails">
 {{#photo}}
   <img src="data:image/png;base64,{{drawing}}" alt = "Drawing of {{name}}" class="drawing" />
 <div class="photo-and-table">  
 	 <img alt="{{caption}}" src="{{src}}" class="photo">
 		<p class="orbit-caption">{{caption}}</p>
		{{>dimensions}}
 {{/photo}}
 </div>