var html = "<%= escape_javascript(render 'details-like-orbit', mustache: {photo: @photo}) %>";

var div = document.createElement('div');
div.innerHTML = html;
var drawing = div.firstChild,
    table = drawing.next(),
    photo = $("#thumbsWrapper").find('.visible_image > img'),
    pandt = $(photo).wrap('<div class="photo-and-table"></div>');
 pandt.prepend(drawing);
 pandt.append(table);

/*
 * html returns
 * <img class="drawing"/>
 * <table class="dimension"></table>
 *
 *
 * already have
 *
 * <div visible_image>
 *   photo
 *   caption !removed
 * </div>
 *
 * finish with
 * <div visible_image>
 *   drawing
 *   <div class="photo-and-table">
 *     photo
 *     caption !removed
 *     table
 *   </div>
 * </div>
 */
