$darkGrey:#535353;  /*rgb(83,83,83)*/
$lightGrey:#999999; /*rgb(153,153,153)*/
$csYellow:#fff100;  /*rgb(255,241,0)*/
$csGreen:#8ac53f;  /*rgb(138,197,63)*/
$csBlue:#4fc9ef;   /*rgb(79,201,239)*/
// $csBlue: #2ba6cb; /* rgb(43, 166, 203) Foundation blue */
$csRed:#ed1f24;   /*rgb(237,31,36)*/
$freightOrange: #D56100;

$screenBackground: $darkGrey;
$pageBackground: #e0e0e0;
$panelBackground: linear-gradient(#eaeaea, #a7a7a7);

// $screenBackground: #f0fff2;
// $pageBackground: #fffff8;
$panelBackground:  linear-gradient(#EAEAEA, #a7a7a7);
$csPanelBorder:#ccc;
  // background-color:#a7a7a7;
$textColour:#2d3d4d; /* rgb(45, 61, 79) */
$headingColour:#2d3d4d;
$linkColour:#496989;
$adminBlue:#22a7f2;  //#cceffa
$blueprintColour:#a3dbec;
// $blueprintColour:#0a2831;
$warningColour:#ffa829;
$bqHighlightColour:$csGreen;


// Menu Colours

$menuGradient1:#084659;
$menuGradient2:#0b5e78;
$menuGradient3:#0e7797;
$menuGradient4:#118fb7;

$menuBackground:#014464;
$menuBorder:#015b86;
$menuBorderTop:#029feb;
$menuHover1:#015b86;
$menuHover2:#029feb;

$menuTextColour:#EEE;
$menuTextShadow:#FFF;
//  Sans serif

$humanistStack: Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
$neoGrotesqueStack:Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
$sansStack:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
$geometricStack: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;

//  Serif
$serifStack1:Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
$serifStack2:"Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
$serifStack3:Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
$displayStack: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
$modernStack: Didot,"Bodoni MT", "Century Schoolbook", "Niagara Solid", Utopia, Georgia, Times, "Times New Roman", serif;

//photo captions
$fpSliderHeight: 355px;

@mixin frame ($border: $textColour, $bg: white, $width:5px) {
  border: $width solid $border;
  background-color: $bg;
  padding:10px !important;
}

@mixin polaroidFrame () {
  padding:5px;
  padding-bottom:40px;
  background:#ddd;
  border: solid 1px #aaa;
  @include box-shadow(1px 1px 5px #555);
  @include border-radius(4px);
}

@mixin gridBackground {
  background:$blueprintColour url('metre.png');
}

@mixin bullets($bullet, $colour) {
  list-style: none inside none;
  margin-left: 0;
  >li {@include icon($colour, $bullet)}
}

