$adminBlue       : #22a7f2;
$blueprintColour : #668CAF;
$csBlue          : #4fc9ef; /*rgb(79,201,239)*/
$csGreen         : #8ac53f; /*rgb(138,197,63)*/
$csPanelBorder   : #ccc;
$csRed           : #ed1f24; /*rgb(237,31,36)*/
$csYellow        : #fff100; /*rgb(255,241,0)*/
$darkGrey        : #535353; /*rgb(83,83,83)*/
$lightGrey       : #999999; /*rgb(153,153,153)*/

$textColour: black;
$linkColour      : #496989;
$formRequired    : $statusError;
$formInvalid     : rgba(255, 50, 34, 0.2);
$formValid       : rgba(0, 255, 0, 0.2);
$indexBackground : rgb(201,218,226);
$indexIconColour  : slategray;
$statusSuccess: $csGreen;
$statusWarning: rgb(255, 191, 0); //amber
$statusError: rgb(255, 50, 34);
$imageBackground: lighten($adminBlue, 20%);
