form {

  input:focus {
    border : 2px solid $adminBlue;
  }

  div#fields {
    span.checkbox {
      label {
        display      : inline-block;
        margin-right : 1em;
      }
    }
  }
  .fyi, .input.radio_buttons, .input.check_boxes {
    background-color: #f3f4f5;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #444;
    p, &>div {
      display: inline-block;
      margin-right: 1.5rem;
      label {margin-top: 0.5rem}
    }
  }

  label.required abbr {color : $formRequired}

  input:required:invalid, input:focus:invalid {
    background-position : right top;
    background-repeat   : no-repeat;
    background-color    : $formValid;
    box-shadow          : none; }

  input:required:valid {
    background-position : right top;
    background-repeat   : no-repeat;
    background-color    : $formValid }

}
// photo component form
#componentsanddrawing_editor {
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;

  div.photo_product {width : 100%}

  div#components-drawing {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    img { width: 114px}
    a#redraw_button {
      max-width: 114px;
      padding: 0.25rem 0 0.25rem 0.25rem;
    }
  }

  div#selectComponents {
    flex-grow : 1; ;
    div.component_types {
      flex-grow      : 1;
      display        : flex;
      flex-direction : row;

      fieldset {
        flex-grow : 1;

        input[type='checkbox'] + label.collection_check_boxes {
          display     : inline;
          margin-left : 0.5rem
        }
      }
    }
  }
}
