form {

  input:focus {
    border : 2px solid $adminBlue;
  }

  div.row {
    @include clearfix;
  }

  div#fields {
    @include column(5);
    float : left;

    span.checkbox {
      label {
        display      : inline-block;
        margin-right : 1em;
      }
    }
  }

  label.required abbr {color : $formRequired}

  input:required:invalid, input:focus:invalid {
    background-position : right top;
    background-repeat   : no-repeat;
    background-color    : $formValid;
    box-shadow          : none; }

  input:required:valid {
    background-position : right top;
    background-repeat   : no-repeat;
    background-color    : $formValid }

}

