form {
  div#fields{
    @include column(5);
    float:left;
    span.checkbox {
      label {
        display:inline-block;
        margin-right:1em;
      }
    }
  }
  div#photo-and-drawing {
    @include columns(7);
    float:left;
    img {
      float:left;
      margin:0;
    }
  }
  div#selectComponents {
    @include columns(12)
  }

  div.row {
    @include clearfix;
  }
  #records ul li{
    div.photo {
       float:left;
    }
    span.ready, span.wall {
      @include column(1)
    }
  }
}
