@import 'colours';
$warningSymbol: '\0026A0';
$okSymbol: '\002713';

ul.list_view {
  span.trackid {
    font-style: italic;
    margin-right: 1rem;
  }
  li {
    &.warning {
      background-color : cornsilk;
      &::before {
        content : $warningSymbol;
        color   : darkorange;
      }
    }
  }
}
ul.grid_view {
  li.warning {
    border: 1px darkorange;
  }
  li.ok {
    border: 1px yellowgreen;
  }
  span.warning {color: darkorange}
  span.photo_number {
    font-size: 1rem;
    position : absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0,0,0,0.5);
    padding:2px;
  }
}


.warningExplanation {
  .error_icon:before {color: darkorange}
}
.photosView_icon {
  @include icon('photo', $indexIconColour)
}

.drawingsView_icon {
  @include icon('pencil', $indexIconColour)
}

.listView_icon {
  @include icon('list', $indexIconColour)
}

.gridView_icon {
  @include icon('th', $indexIconColour)
}

.hasDrawingtrue {
  @include icon('check', $statusSuccess)
}

.hasDrawingfalse {
  @include icon('times', $statusWarning)
}

.list_header {
  font-weight : bold
}

.actions {
  width : auto
}

//list view
#list_view {
  li {
    overflow        : hidden;
    text-overflow   : ellipsis;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;

    div.actions {position : unset}

    span {
      background-color : lighten($adminBlue, 30%);
      padding          : 0.5rem
    }
  }

  .title {
    @include column(6);
    color          : $textColour;
    text-transform : capitalize;
    text-overflow  : ellipsis;
  }

  .series {@include column(1)}

  .height {@include column(1)}

  [class^='hasDrawing'] {@include column(1); width : 2rem;}

  //

  //photo attributes
  .components {
    @include column(1);
    width : 2rem;
  }

  .ready {
    @include column(1);
    width : 2rem;
  }

  .assigned_page {
    @include column(3)
  }

  .warning {
    color : $statusWarning;
  }
}

//  grid views
ul.grid_view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
  //width           : 100%;
  //display         : flex;
  //align-items     : flex-end;
  //flex-wrap       : wrap;
  //justify-content : space-between;

  li {
    //flex             : 1;
    position         : relative;
    width: 149px;
    height: 149px;
    max-width: 149px;
    max-height: 149px;
    text-align: center;
    overflow: hidden;
    background-color : $indexBackground;

    border           : 1px solid #555;
    min-height       : 140px;
    min-width        : 140px;
    //box-shadow       : 2px 2px 2px #888;

    img {
      width: inherit;
      height: inherit;
    }
    .brokenImage {
      background-color : #888;
      img::before { color : $statusError; }
      a.preview_icon {
        pointer-events : none !important;
        cursor         : default;
        &::before { color : $lightGrey; }
      }

      a.edit_icon::before {
        color           : $statusError;
        text-decoration : blink;
      }
    }

    p.no-drawing { @include icon('times', red) }

    div.info {
      @include icon('info-circle', $indexIconColour);

      span { display : none}

      top    : auto;
      bottom : -5px;

      &:hover {
        span {
          display          : inline;
          background-color : white;
          box-shadow       : 2px 2px 2px #555;
          font-size        : 10px;
          line-height      : 10px;
          float            : left;
        }
      }
    }

  }
}
#records.photosIndex .grid_view span.actions {
  top: auto;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255, 0.6);
}
//section#records.photosIndex .grid_view span.actions { width : 40px}
