
//list view
section#records {

  .list_header {font-weight:bold}
  .actions {width: auto}

  #list_view {
    .list_header, .record {
      display: table;
      table-layout: fixed;
      width: 100%;
      white-space: nowrap;
      &.warning {background-color: #FFC0C0; }
      > * {
        display: table-cell;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span {
        &.warning {color: red}
        &.title {
          width:350px;
          color: $textColour;
          text-transform:capitalize;
        }
        &.components { width:50px; }
        &.ready, &.wall { width:20px;}
      }
    }
  }
  #grid_view {}
}
// grid view

ul#grid_view {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .brokenImage {
    background-color: #888;
    img::before {color:#ff530D;}
    a.preview_icon {
      pointer-events: none !important;
      cursor: default;
      &::before {color:#aaa;}
    }
    a.edit_icon::before {color:#ff530D; text-decoration: blink;}
  }
  li {
    flex: 1;
    position: relative;
    margin:10px;
    padding: 0px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #555;
    min-height:140px;
    min-width: 140px;
    box-shadow: 2px 2px 2px #888;
    span.actions {
      background-color: #eee;
      top: auto;
      bottom: -5px;
      a {
        line-height: 18px;
        img {
          padding: 4px 4px 1px 4px;
          vertical-align: top;
        }
      }
    }
  }
}
