form {
  #records ul li {
    div.photo {
      float : left;
    }
  }
}

img.popup {
  position   : fixed;
  left       : 950px;
  top        : 350px;
  z-index    : 10000;
  box-shadow : 4px 4px 4px black;
}

div#photo-and-drawing {

  img {
    vertical-align : bottom;
    float          : left;
    &.warning {
      color: $warningColour;
    }
  }
}


&#selectPhotos input#submit.button { font-size : 1.2em; }

select.multiselect {
  height : 300px;
  width  : 600px;
}

#page_photo_picker {
  padding : 5px;
}

img.popup {
  position   : fixed;
  left       : 950px;
  top        : 350px;
  z-index    : 10000;
  box-shadow : 4px 4px 4px black;
}

#page-tabs #page_part_editors .ui-corner-bottom {

  border     : 1px solid #CCCCCC;
  background : #F2F2F2;
  padding    : 5px 5px 0 5px;

}



