
#photo_details {
  @include column(12);
}
// override jquery-ui setting.
.wym_skin_refinery .wym_html textarea {
  font-size: 1.5em;
}

img.popup {
  position: fixed;
  left:950px;
  top: 350px;
  z-index:10000;
  box-shadow: 4px 4px 4px black;
}
.photo_checkbox {
  @include column(2);
}

form {
  div.row {
    @include clearfix;
  }

  div#fields {
     @include column(5);
     float:left;
     span.checkbox {
       label {
         display:inline-block;
         margin-right:1em;
       }
     }
  }

  div#photo-and-drawing {
    @include column(6);
    img {
      &.photo {@include column(5); margin:0;}
      &.drawing {@include column(1); margin:0;}
      vertical-align:bottom;
      float:left;
    }
  }

#selectComponents {
  margin-top:40px;
  fieldset.component_type {
    border-radius:4px;
    @include column(3,40);
    float:left;
    legend {font-weight:bold;}
    span {
      display:block;
      label {display:inline;}
    }
    a.clearRadioSet {margin-top:10px;}
  }
}

&#selectPhotos input#submit.button {
  font-size:1.2em;
  background-color:$csGreen;
  }
}


select.multiselect {
  height:300px;
  width:600px;
}
label abbr[title="required"] {color: rgb(255,50, 34)}

input:required:invalid, input:focus:invalid {
   background-position: right top;
   background-repeat: no-repeat;
   background-color: rgba(255, 50, 34, 0.2);
   box-shadow: none; }

input:required:valid {
  background-position: right top;
  background-repeat: no-repeat;
  background-color: rgba(0, 255, 0, 0.2) }

#page_photo_picker {
  padding: 5px;
}



img.popup {
  position: fixed;
  left:950px;
  top: 350px;
  z-index:10000;
  box-shadow: 4px 4px 4px black;
}

