img.popup {
  position: fixed;
  left:950px;
  top: 350px;
  z-index:10000;
  box-shadow: 4px 4px 4px black;
}


section#records {
  @include row();
   li.record {
     span.title {
       @include columns(6);
     }
     span.components. span.assigned_page {
       @include columns(1);
     }
     span.actions {
       @include columns(4)
     }
   }
}


