.cta-bg {
 }

.cta-bg {
  .add {
    fill: green
  }
  .delete {
    fill: red
  }
  .edit {
    fill: blue
  }
}

.wym_skin_refinery {
  li.wym_containers_cta {
    margin-right:1px;
    a { background-image: image_url('wymeditor/skins/refinery/diamond-cross.png')}
  }
}
