@import 'base';
@import 'blankwork';
@import 'jquery-ui';
@import 'jquery.uix.multiselect';

#photo_details {
  @include column(12);
}

section#records.photosIndex {
  li.warning {background-color: pink;}
  .list_header {font-weight:bold}
  .list_header, .record {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    > * {
      display: table-cell;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      &.title {
        width:350px;
        color:#2d3d4d;
        text-transform:capitalize;
      }
      &.components {
        width:50px;
        &.warning {color:red;}
      }
      &.assigned_page.warning {color:red}
      &.ready, &.wall {@include column(1)}
    }
  }
  div.photo {float:left}
}


img.popup {
  position: fixed;
  left:950px;
  top: 350px;
  z-index:10000;
  box-shadow: 4px 4px 4px black;
}
.photo_checkbox {
  @include column(2);
}


form {
  div.row {
    @include clearfix;
  }

  div#fields {
     @include column(5);
     float:left;
     span.checkbox {
       label {
         display:inline-block;
         margin-right:1em;
       }
     }
  }

  div#photo-and-drawing {
    @include column(6);
    background: $adminBlue url('metre.png');
    img {
      &.photo {@include column(5); margin:0;}
      &.drawing {@include column(1); margin:0;}
      vertical-align:bottom;
      float:left;

    }
  }

   #selectComponents {
    margin-top:40px;
    fieldset.component_type {
      border-radius:4px;
      @include column(3,40);
      float:left;
      legend {font-weight:bold;}
      span {
        display:block;
        label {display:inline;}
      }
      a.clearRadioSet {margin-top:10px;}
    }
  }

  &#selectPhotos input#submit.button {
  font-size:1.2em;
  background-color:$csGreen;
  }
}

// Handles the drawings of pillars and other things made up of components

  img.drawing {
    // background:$adminBlue url('metre.png');
    // float:right;
    // border: 1px solid $csGreen;
  }
  img.photo {
    // padding:5px;
    // background-color:$adminBlue;
    // max-width:700px;
    // float:left;
  }

select.multiselect {
  height:300px;
  width:600px;
}
 // div#drawing  {
   // img {
    // padding:20px;
    // &.saved   {background:url('metre.png') $adminBlue; }
    // &.guessed {background:url('metre.png') $warningColour;}
   // }
 // }
label abbr[title="required"] {color: rgb(255,50, 34)}

input:required:invalid, input:focus:invalid {
   background-position: right top;
   background-repeat: no-repeat;
   background-color: rgba(255, 50, 34, 0.2);
   box-shadow: none; }

input:required:valid {
  background-position: right top;
  background-repeat: no-repeat;
  background-color: rgba(0, 255, 0, 0.2) }

#page_photo_picker {
  padding: 5px;
}
