<div class="<%= ['clearfix', 'pagination_frame', pagination_css_class].compact.join(' ') %>">
    <ul>
      <%= render partial: 'list_view_photo', collection: @photos, as: :photo %>
    </ul>
</div>
