<%= will_paginate @photos if Refinery::Caststone::Admin::PhotosController.pageable? %>
<% this_view = Refinery::Caststone::Photos.preferred_view.to_s
  if this_view == 'list' %>
    <div class ='photos list_header'>
      <span class='title'>Name</span>
      <span class="components">Parts</span>
      <span class="assigned_page">Page</span>
      <span class='actions'>Actions</span>
    </div>
<%end%>
  <ul class="<%= ['clearfix', 'pagination_frame', pagination_css_class, "#{this_view}_view"].compact.join(' ') %>">
    <%= render partial: "refinery/caststone/admin/photos/photo", collection: @photos, locals: {view: this_view} %>
  </ul>
