<% if searching? %>
  <h2><%= t('results_for', :scope => 'refinery.admin.search', :query => params[:search]) %></h2>
<% end %>
<div class='pagination_container'>
  <pre>Looking for photos</pre>
  <% if @photos.any? %>
    <%= render 'photos' %>
  <% else %>
    <p>
      <% if searching? %>
        <%=  t('no_results', :scope => 'refinery.admin.search') %>
      <% else %>
        <strong>
          <%=  t('.no_items_yet')  %>
        </strong>
      <%  end %>
    </p>
  <% end %>
</div>
