<ul>
  <% if ::Refinery::Caststone::Admin::ComponentsController.searchable? %>
      <li>
        <%= render '/refinery/admin/search', :url => refinery.caststone_admin_components_path %>
      </li>
  <% end %>
  <!--TODO Add sorting and filtering code-->
  <!--<li>-->
    <!--Sort and Filter Coming Soon-->
  <!--</li>-->
  <li>
    <%= link_to t('.create_new'), refinery.new_caststone_admin_component_path,
                :class => "add_icon" %>
  </li>
  <%=
  render partial: 'refinery/caststone/admin/shared/switch_views',
    locals: {
    name: 'Refinery::Caststone::Components',
    scope: 'refinery.caststone.admin.components.index.view'}
  %>
 </ul>
